{% extends "account/base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
<div class="center">

 <h1>Log-in</h1>
 {% if form.errors %}
 <p> Your username and password didn't match.
  Please try again.</p>
 {% else %}
 <h2>Please, use the following form to login: <h4>If you don't have an
account <a href="{% url "account:register" %}">register here</a></h4>
</h2>
 {% endif %}
 <div>
 <form action="{% url "account:login" %}" method="post">
 {{ form.as_p }}
 {% csrf_token %}
 <input type="hidden" name="next" value="{{ next }}" />
 <p><input type="submit" value="Log-in"></p>
 <p><a href="{% url "account:password_reset" %}">Forgotten your password?</a>
 </form>
 </div>
 </div>
{% endblock %}
